body {
  margin:0; font-family:system-ui,sans-serif;
}
.vp-doc {
  font-size:14px;
  line-height:1.6;
}
.custom-block.note {
  border-left: 4px solid #3b82f6; /* 蓝色 */
  background: #eff6ff;
  color: #1e40af;
}

.custom-block.tip {
  border-left: 4px solid #22c55e; /* 绿色 */
  background: #f0fdf4;
  color: #166534;
}

.custom-block.warning { background-color:#fff5f5; border-left:4px solid #f56c6c; padding:0.5em 1em; margin:1em 0; }
.custom-block.important { background-color:#fffbe6; border-left:4px solid #e6a23c; padding:0.5em 1em; margin:1em 0; }
.custom-block.caution { background-color:#fdf6ec; border-left:4px solid #e6a23c; padding:0.5em 1em; margin:1em 0; }
.custom-block p { margin:0; }
.vp-doc pre.shiki{
  border-radius:12px;
  overflow:auto;
  padding:1rem;
  font-size:14px;
  line-height:1.5;
  margin:1em 0;
 
  color:#1e1e2e !important;
}
@media (prefers-color-scheme: dark){
  .vp-doc pre.shiki{
    background-color:#2a2a3e !important;
    color:#f0f0f0 !important;
  }
}
.vp-doc pre.shiki code{ counter-reset:line; }
.vp-doc pre.shiki .line{
   min-height:1.25rem; counter-increment:line; padding-left:0.5em;
}
.vp-doc pre.shiki.has-line-numbers .line::before{
  content:counter(line); display:inline-block; width:2.5em; margin-right:1em; text-align:right; opacity:.5; user-select:none;
}
.vp-doc pre.shiki .line.highlighted{
  background: rgba(255,245,157,0.2) !important;
  margin:0 calc(-1rem); padding:0 1rem;
}

.code-wrapper {
  position: relative;
}

 

.code-block {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  margin-bottom:1rem;
 
  }
  
  
  /* 顶部栏 */
  .code-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background: #f5f5f5;
  }
  
  
  .code-header-left {
  display: flex;
  align-items: center;
  }
  
  
  
.code-header .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
}

.code-header .red {
  background: #ff5f56;
}

.code-header .yellow {
  background: #ffbd2e;
}

.code-header .green {
  background: #27c93f;
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: var(--cb-text);
  padding: 4px 8px;
  border-radius: 6px;
}

.copy-btn:hover {
  background: rgba(0, 0, 0, .06);
}
